body {
    margin: 0 auto;
    width: 700px;
}

.images {
    height: 540px;
}

.images .image {
    position: absolute;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.progress-overlay {
    background: white;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.progress {
    width: 80%;
}

.progress-bar {
    transition: none;
}

.form-inline {
    padding: 0 10%;
}

@media (min-width: 768px) {
    .form-inline                         { font-size: 14px; margin-top: 15px; }
    .form-inline .form-group             { width: 49%; }
    .form-inline .form-group:first-child { padding: 0 2.5% 0 0%; }
    .form-inline .form-group:last-child  { padding: 0 0    0 2.5%; }
    .form-inline .form-label             { width: 30%; }
    .form-inline .form-control           { width: 65%; margin: 0 0 0 5%; }
}
