.images {
    margin: 50px 0;
    position: relative;
}

.images .image {
    width: 100%;
}

.images .image-overlay {
    left: 0;
    position: absolute;
    top: 0;
}

.options {
    clear: both;
}

.progress-overlay {
    align-items: center;
    background: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.progress {
    width: 80%;
}

.progress-bar {
    transition: none;
}

.form-inline {
    padding: 0 10%;
}

@media (min-width: 768px) {
    .form-inline                         { font-size: 0; }
    .form-inline .form-group             { width: 50%; }
    .form-inline .form-group:first-child { padding: 0 2.5% 0 0%; }
    .form-inline .form-group:last-child  { padding: 0 0    §0 2.5%; }
    .form-inline .form-control           { width: 100%; }
}
